/* general styling */

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Jost', sans-serif;
}


/* navbar */

.navbar-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #373E40;
    padding: 20px 35px;
    color: white;
}

.navbar-container h1 {
    font-family: 'Jost', sans-serif;
}

.navbar-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;
}

.navbar-list li a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    font-size: 1.55vw;
    color: white;
    margin: 0 30px;
    font-family: 'Jost', sans-serif;
}


/* about-me */

.about-me-container {
    display: flex;
    justify-content: center;
    padding: 4rem 5vw 3rem;
    background-color: #77d5db;
}

.about-me-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me-container h2 {
    font-size: 42px;
    font-family: 'Jost', sans-serif;
}

.about-me-container p {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
}

.about-me-container img {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 50%;
    height: 300px;
    width: 300px;
}


/* SKILLS SECTION */

.skills-container {
    border-bottom: 1px solid rgba(12, 12, 10, 0.1);
    padding: 4rem 5vw 3rem;
}

.skills-heading {
    display: flex;
    justify-content: center;
    padding: 15px 20px;
}

.skills-heading h2 {
    font-size: 2rem;
    letter-spacing: .3rem;
    line-height: 1.2;
    text-transform: uppercase;
    font-family: 'Jost', sans-serif;
}

.skills-info-row {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    margin-left: 120px;
}

.skills-info ul {
    list-style: none;
    margin: 0px 30px;
}

.skills-info ul li {
    font-family: 'Jost', sans-serif;
}


/* recent work */

.recent-work-container {
    border-bottom: 1px solid rgba(12, 12, 10, 0.1);
    padding: 4rem 5vw 3rem;
    background-color: #fafafab9;
    font-family: 'Jost', sans-serif;
}

.recent-work-heading {
    display: flex;
    justify-content: center;
}

.recent-work-heading h2 {
    font-size: 2rem;
    letter-spacing: .3rem;
    line-height: 1.2;
    text-transform: uppercase;
    font-family: 'Jost', sans-serif;
}

.work-row {
    display: flex;
    margin-bottom: 50px;
    width: 85%;
    margin: 0 auto;
    margin-top: 32px;
}

.work-col {
    flex-grow: 1;
    flex-basis: 0;
    justify-self: center;
}

.work-image {
    padding: 5px;
    width: 100%;
    height: 300px;
    border-radius: 8px;
}

.image-container {
    position: relative;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #7b7d81;
}

.image-container:hover .overlay {
    opacity: .95;
    cursor: pointer;
}

.text {
    margin-top: 30px;
    color: white;
    line-height: 1.5;
    margin-left: 30px;
}

.text h3 {
    font-size: 24px;
    border-bottom: 1px solid #aaa;
    width: 90%;
}

.outer-ul {
    margin-top: 30px;
    list-style: none;
}

.inner-ul {
    margin-left: 40px;
    list-style-type: circle;
}


/* contact me section */

.contact-me-container {
    padding: 4rem 5vw 3rem;
    background-color: #fafafa00;
    font-family: 'Jost', sans-serif;
}

.contact-me-heading {
    display: flex;
    justify-content: center;
}

.contact-me-heading h2 {
    font-size: 42px;
    font-family: 'Jost', sans-serif;
}

.email-row {
    display: flex;
}

.email-row-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.email-row-img img {
    height: 600px;
    max-width: 100%;
    display: block;
}

.email-row ul {
    list-style: none;
}

.email-row ul li img {
    width: 50px;
    height: 50px;
}

.contact-background img {
    margin-top: 64px;
}

.email-text {
    display: inline-block;
    font-size: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    text-decoration: none;
}

.email-text a {
    text-decoration: none;
    color: #1eaed3;
}


/* footer */

.footer {
    display: flex;
    background-color: #373E40;
    justify-content: center;
    padding: 24px 0;
}

.footer p {
    color: white;
}